body {
  min-height: 100vh;
}

main {
  min-height: 64vh;
  /*margin-top: 64px;*/
}

* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, .title, .subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

.text-script {
  font-family: 'Seaweed Script', cursive !important;
}
